.container{
    padding-right: 10rem;
    // padding-right: 7.2%;
}
.row{
    max-width: 170rem;
    margin-right: 0;
    margin-left: auto;
    padding-left: 6rem;
    padding: 0 0 0 5%;
    overflow: hidden;
}