.container{
    padding-right: 0;
    // padding-right: 7.2%;
    @include respond(m){
    padding-right: 10rem;

    }
    &.no-padding{
        padding: 0;
    }
}
.row{
    max-width: 192rem;
    margin-right: 0;
    margin-left: auto;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    @include respond(m){
    padding-right: 0;

        padding-left: 6rem;
        padding: 0 0 0 5%;

        }
    overflow: hidden;
}