.form {
   

    &__group:not(:last-child) {
        margin-bottom: 1.5rem;

      
    }

    &__group {

        width: 100%;
    }
    .flex-center{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -.8rem;
        flex-wrap: wrap;
        .form__group{
            padding: 0 0.8rem;
            margin: 0;
            width: auto;
            flex: 100%;
            &:not(:last-child){
                margin-bottom: 1.5rem;
                @include respond(m){
                  
                    margin-bottom: 0;
        
                    }
            }
            @include respond(m){
            flex: 1;
            margin-bottom: 0;

            }
        }
    }
    &__input {
        font-size: 1.4rem;
        padding: 1.5rem 1.2rem 1.6rem;
        font-family: inherit;
        color: $color-typo-main;
        border: none;
        background-color: $white-color;
       
        width: 100%;
        height: 5rem;
        display: block;
        transition: all .3s;

        &--small {
            width: 100%;
            display: inline-block;

        }

        &--textarea {
            min-height:15rem;
        }

        &:focus {
            outline: none;
            box-shadow: 0 .5rem 1rem rgba($color-typo-main, $alpha: .1);
           
        }

        &::placeholder {
            opacity: 1;
            color: #bdbdbd;
            font-size: 1.6rem;
        }

        &::-moz-input-placeholder {
            opacity: 1;
            color: #bdbdbd;
            font-size: 1.6rem;
        }

        &::-webkit-input-placeholder {
            color: #bdbdbd;
            font-size: 1.6rem;
        }
    }

  

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-right: 2rem;
        margin-top: .7rem;
        display: none; //it was block
        transition: all .3s;

    }

    &__input:placeholder-shown+&__label {
        // when the place holder is shown on the input, do the following
        //the + for choosing sibilings and ~ for all sibilings
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-input {
        display: none;
    }


}
