.nav{
    position: relative;
 
    width: 100%;
   
min-width: 100%;

a {
    
    text-decoration: none;
    color: $color-typo-second;
   line-height: 2.9rem;
   font-size: 2.4rem;
}
.header {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    padding: 2.35rem 0 4.7rem 0;
   @include respond(h){
    padding: 4.7rem 0;
   }
  
    & .logo, & .menu {
        position: relative;
    
        text-decoration: none;
        transition: .3s;
       
        & img {
            width:auto;
            max-height: 10.3rem;
            
           
        }
    }
    & .logo{
        text-align: left;
        @include respond(m){
        text-align: right;

        }
    }
    .menu{
        display: flex;
        @include respond(m){
            display: none;
        }
    }

    
    & ul {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
        display: none;
        
            @include respond(m){
                display: flex;
                // visibility: visible;
            }
        & li {
            position: relative;
            list-style: none;
            cursor: pointer;
            
            & a {
                position: relative;
                
                transition: all .3s;
                // &::after{
                //     content: '';
                //     display: inline-block;
                //     background-color: $second;
                //     width: 100%;
                //     height: 100%;
                // }
                &:hover {
                    color: $color-second;
                }
                &.active{
                    color: $color-typo-main;
                }
            }
           
            &:not(:last-child) {
                & a {

                    margin: 0 0 0 4rem;
                }
            }
            &:hover{
                .title-line{
                    opacity: 1;
                
                }
            }
            &.active {
                
                .title-line{
                    opacity: 1;
                  
                }
            }
        }
       z-index: 2;
    }
    .tabs-wrapper
    {
        position: relative;
        &-decoration{
        position: absolute;
        top: .2rem; //same padding top+1
        
        height: 3.1rem;
        
        transition: width .2s linear 0s,
                    transform .2s ease-out 0s;
        // width: 70px; //temp
        background-color: $second;
     
        z-index: 1;
    }
}
    
}
}