$shine-color: #e8e8e8;
$animation-duration: 1.6s;
$avatar-offset: 52 + 16;

@mixin background-gradient {
    background-image: linear-gradient(90deg, $base-color 0px, $shine-color 40px, $base-color 80px);
  background-size: 600px
  }
  
.page-lines {
  position: absolute;
  // right: -2.3rem;
  display: flex;

  .line {
    width: 4.7rem;
    
    background: #f9f9f9;
    margin: 0 0 0 2.7rem;
    @include respond(m){
      width: 4.7rem;
      margin: 0 0 0 4.7rem;
  
      }
    height: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;
      vertical-align: middle;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translate(-100px,-100px);
      background-image: linear-gradient(180deg, rgba(#ffffff, 0) 0, rgba(#ffffff, 0.2) 20%, rgba(#ffffff, 0.4) 40%, rgba(#ffffff, 0.5) 60%, rgba(#ffffff, 0));
      animation: shimmer 1s infinite ease-in-out;
      content: '';
      -webkit-animation: shimmer 1s infinite ease-in-out;
}

    @keyframes shimmer {
      100% {
        // transform: translate(100%,100%);
      }
    }
  }

  &.top {
    top: 0;
    height: 32rem;
    z-index: -2;
  }

  &.bottom {
    top: auto;
    bottom: 0;
    left: 5%;
    height: 26%;
    .line{
    margin: 0  2.7rem 0 0;
      @include respond(m){
    margin: 0  4.7rem 0 0;

      }
    }
    
   
  }
  &.dark{
    .line {
        background: #58585a;
  
        &::after {
  
          background-image: linear-gradient(90deg, rgba($color-first, 0) 0, rgba($color-first, 0.1) 20%, rgba($color-first, 0.15) 40%, rgba($color-first, 0.25) 60%, rgba($color-first, 0));
  
        }
      }
  }

}
.text-left{
  text-align: left;
}
.hidden-mobile{
display: none;
  @include respond(m){
    display: unset;
  }
}

.pos-rel {
  position: relative;
}

.h-100 {
  height: 100%;
}

.highlighted {
  color: $color-typo-main;
  position: relative;
  padding: 0 .3rem;
  font-family: 'neo-medium';
  .cover {
    height: 1.4rem;
    background: $second;
    width: 100%;
    position: absolute;
    bottom: 0%;
    z-index: -1;
  }

  &.bold{
  font-family: 'neo-bold';

  }
}
.heading-title{
  font-size: 3rem;
  line-height: 3.6rem;
 
  @include respond(m){
    font-size: 4rem;
    line-height: 4.8rem;
  }
}
.heading-sub{
  color: $color-typo-main;
      font-size: 2rem;
      line-height: 3rem;
      font-family: 'neo-medium';

  @include respond(m){
    
      font-size: 3rem;
      line-height: 3.6rem;
     

  }
}
.alert{
  background: $color-first;
  padding: 1.5rem 5.5rem ;
  border-radius: 50px;
  max-width: 90%;
  width:400px;
  text-align: center;
  margin: 0 auto;
  position: fixed;
  top:7%;
  left: 50%;
  color: $white-color;
  font-size: 2rem; 
  transform: translate(-50%,-50px);
  z-index: 10;
  transition: all .7s;
  opacity: 0;
  visibility: hidden;
  &.show{
  transform: translate(-50%,0);
    opacity: 1;
    visibility: visible;
  }

}
//btns

.btn-link{
  color: $second;
  text-decoration: none;
  // border-radius: 4px;
  &.color-main{
    color: $color-typo-main;
  }
  &.color-second{
    color: $color-typo-second;
  }
  &.white{
    color:$white-color;
  }
  &.underlined{
    text-decoration: underline;
  }
  &.has-icon{
   img{
    margin-right: 6px;


   }
   
    display: flex;
    align-items: center;
    
  }
  &.has-icon-right{
  img{
    margin-left: 6px;

    width: 1.6rem;
  }
  
    display: flex;
    align-items: center;
  }
  &:hover{
    text-decoration: underline;
  }
}

.btn-to-top{

      background: #ccc;
      cursor: pointer;
      pointer-events: auto;
      width: 6.3rem;
      height:6.3rem;
      display: inline-block;
      margin-left: 0%;
      border-radius: 4px;
      margin-right: auto;
      .double{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        img{
          height: 20%;
        }
        
      }
  @include respond(m){
    display: none;
  }
}




.english{
  .page-lines {
   
    .line {
     
      
      margin: 0  2.7rem 0 0;
      @include respond(m){
       
        margin: 0 4.7rem 0 0 ;
    
        }
    
    }
  
  
    &.bottom {
     
      right: 5%;
      left: auto;
      
      .line{
      margin: 0 0 0 2.7rem ;
        @include respond(m){
      margin: 0 0 0 4.7rem ;
  
        }
      }
      
     
    }
  
  
  }
  .text-left{
    text-align: right;
  }
  .btn-link.has-icon img{
    margin-right: 0;
    margin-left: 6px;
    transform: rotate(180deg);
  }
  .btn-link.has-icon-right img{
    margin-left: 0;
    margin-right: 6px;
    transform: rotate(270deg);

  }
}